# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!esphome
!esphome/*
!.github
!.github/**
!automation
!automation/**
!packages
!packages/**
!scripts
!scripts/**
!images
!images/**
!dwains-dashboard
!dwains-dashboard/**
!includes
!includes/*.yaml

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
anniversaries.yaml
._*
.DS_Store
