{% macro events() %}
    {% set anniversaries = namespace(sensors=[]) %}
    {% for key, value in kwargs.items() %}
        {% for state in states.sensor %}
            {% if key == 'equal' %}
                {% if state.object_id.startswith('anniversary_') and state.state | int == value %}
                    {% set anniversary = {'name': state.name, 'days': state.state | int, 'next_date': state.attributes.next_date.strftime('%m/%d/%Y')} %}
                    {% set anniversaries.sensors = anniversaries.sensors + [anniversary] %}
                {% endif %}
            {% else %}
                {% if state.object_id.startswith('anniversary_') and state.state | int <= value %}
                    {% set anniversary = {'name': state.name, 'days': state.state | int, 'next_date': state.attributes.next_date.strftime('%m/%d/%Y')} %}
                    {% set anniversaries.sensors = anniversaries.sensors + [anniversary] %}
                {% endif %}
            {% endif %}
        {% endfor %}        
    {%- endfor -%}
    {{ anniversaries.sensors | sort(attribute='days') }}
{% endmacro %}

{% macro events_bool() %}
    {% set anniversaries = namespace(sensors=[]) %}
    {% for key, value in kwargs.items() %}
        {% for state in states.sensor %}
            {% if key == 'equal' %}
                {% if state.object_id.startswith('anniversary_') and state.state | int == value %}
                    {% set anniversary = {'name': state.name} %}
                    {% set anniversaries.sensors = anniversaries.sensors + [anniversary] %}
                {% endif %}
            {% else %}
                {% if state.object_id.startswith('anniversary_') and state.state | int <= value %}
                    {% set anniversary = {'name': state.name} %}
                    {% set anniversaries.sensors = anniversaries.sensors + [anniversary] %}
                {% endif %}
            {% endif %}
        {% endfor %}        
    {%- endfor -%}
    {{ anniversaries.sensors | length > 0 }}
{% endmacro %}
